
#bulb{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgb(158, 158, 83);
    border: rgb(31, 30, 30) 5px solid;
}

button {
    padding: 12px 25px;
    font-size: 20px;
    margin-left: 170px;
    margin-top: 20px;
}